@import "tailwindcss";

@theme {
  --color-primary: var(--color-neutral-900);
  --color-secondary: var(--color-neutral-600);
  --color-accent: var(--color-neutral-800);

  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@plugin "@tailwindcss/typography";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}